[Unit]
Description=Caddy demo container

[Container]
Image=docker.io/library/caddy:2.10.2-alpine
PublishPort=8080:80

[Install]
WantedBy=default.target
