[Unit]
Description=Orches: container orchestrator

[Container]
Image=orches
Exec=run
Environment=XDG_RUNTIME_DIR=/run/user/%U
Volume=%h/.config/orches:/var/lib/orches
Volume=%h/.config/containers/systemd:/etc/containers/systemd
Mount=type=bind,source=/run/user/1000/systemd,destination=/run/user/1000/systemd,rw=true
UserNS=keep-id
PodmanArgs=--pid host

[Install]
WantedBy=multi-user.target

